/* Reset básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o header */
header {
    text-align: center; /* Centraliza a logo horizontalmente */
    padding: 20px 0; /* Adiciona um pouco de espaço ao redor da logo */
    background-color: #f8f8f8; /* Cor de fundo opcional */
}

/* Estilo para a logo */
.logo {
    max-width: 100%; /* Garante que a logo não ultrapasse a largura do contêiner */
    height: auto; /* Mantém a proporção da logo */
    display: block; /* Remove espaços extras abaixo da imagem */
    margin: 0 auto; /* Centraliza a logo horizontalmente */
}